:root {
  --vp-c-brand: #1385f0;
  --vp-c-brand-light: #3da0fc;
  --vp-c-brand-lighter: #66b5ff;
  --vp-c-brand-dark: #0664c9;
  --vp-c-brand-darker: #0049a3;

  --vp-c-table-bg-soft: #f6f8fa;
  --vp-c-table-border-color: #dfe2e5;
}

.dark {
  --vp-c-table-bg-soft: var(--vp-c-black-mute);
  --vp-c-table-border-color: var(--vp-c-divider-dark-1);
}

.vp-doc table td,
.vp-doc table th {
  padding: 8px 14px;
  white-space: nowrap;
  border-color: var(--vp-c-table-border-color);
}

.vp-doc tr:nth-child(2n) {
  background-color: var(--vp-c-table-bg-soft);
}

@media print {
  .no-print,
  .VPNav,
  .VPLocalNav,
  .VPSidebar,
  .VPDocFooter {
    display: none !important;
  }

  .VPContent {
    padding-top: 0 !important;
  }
}
